@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background: url('../../public/bgHome.jpg') no-repeat;
  background-size: 100vw;
}

.navbar {
  text-color: #454545;
}

.navbar  {
  text-color: #1EDA8E;
}

.navbar__logo {
  max-width: 100px;
}