.navbar__link:hover {
  color: #1EDA8E;
  font-weight: 600;
}

.navbar__logo {
  max-width: 7rem;
}

@media (min-width: 1024px) {
  .navbar__logo {
    max-width: 11rem;
  }
}

@media (min-width: 1400px) {
  .navbar__link {
    font-size: 1.15rem;
  }
}

@media (min-width: 2000px) {
  .navbar {
    padding-top: 50px;
  }

  .navbar__link {
    font-size: 1.75rem;
    
  }
  
  .navbar__logo {
    max-width: 100%;
  }
}