@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import './components/Header/header.css';
@import './components/About/about.css';

body {
  color: #454545;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background: url('../public/bgHome.jpg') no-repeat;
  background-size: 100vw;
}

@media (max-width: 576px) {
  body {
    background-size: 115vw;
  }
}
